<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电商平台</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- loginpage -->
    <div id="loginpage" style="display: none;">
        <!-- Top navbar -->
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <div class="toplogo">&#xf54f</div>

            <ul class="navbar-nav">
                <li class="nav-item navbaritem">
                    <a class="nav-link text-secondary">User konws</a>
                </li>
                <li class="nav-item navbaritem">
                    <a class="nav-link text-secondary">Privacy</a>
                </li>
                <li class="nav-item navbaritem">
                    <a class="nav-link text-secondary">help</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" id="navbardrop" data-bs-toggle="dropdown">
                        Language
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Chinese</a>
                        <a class="dropdown-item">English</a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Center Borderbox -->
        <div class="centerboxborder">
            <div class="centerbox">
                <div class="centertopbuttonborder">
                    <div class="centertopbutton">
                        <a href="#/login" type="button" class="btn btn-outline-secondary secondbtn mx-3 chooseactive"
                            id="loginbutton">Login</a>
                        <a href="#/registration" type="button" class="btn btn-outline-secondary secondbtn mx-3"
                            id="registrationbutton">Registration</a>
                    </div>
                </div>
                <div class="idselectborder">
                    <div class="idselect">
                        <div class="form-check mx-4">
                            <input class="form-check-input" type="radio" name="option" id="option1" value="option1"
                                checked>
                            <label class="form-check-label" for="option1">
                                Buyer
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input class="form-check-input" type="radio" name="option" id="option2" value="option2">
                            <label class="form-check-label" for="option2">
                                Vendor
                            </label>
                        </div>
                    </div>
                </div>
                <div class="poncon-login poncon-page" style="display: block;">
                    <div class="loginbuyer idselectitem">
                        <div class="input-group mt-5 mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input type="text" class="form-control" id="input-username-login"
                                placeholder="Please enter your name">
                        </div>
                        <div class="input-group mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" id="input-password-login"
                                placeholder="Please enter your password">
                        </div>
                        <div class="loginenterbuttonborder">
                            <button type="button" class="btn btn-outline-secondary secondbtn mx-3"
                                id="loginenterbutton">Enter</button>
                        </div>

                    </div>
                </div>
                <div class="poncon-registration poncon-page" style="display: none;">
                    <div class="idselectitem">
                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input type="text" class="form-control" id="input-username-registration"
                                placeholder="Please enter your name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" id="input-password-registration"
                                placeholder="Please enter your password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" id="input-address-registration"
                                placeholder="Please enter your address">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">E-mail</span>
                            </div>
                            <input type="text" class="form-control" id="input-email-registration"
                                placeholder="Please enter your e-mail">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone number</span>
                            </div>
                            <input type="text" class="form-control" id="input-phone-registration"
                                placeholder="Please enter your phone">
                        </div>
                        <div class="loginenterbuttonborder">
                            <button type="button" class="btn btn-outline-secondary secondbtn mx-3"
                                id="registrationcreatebutton">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mainpage -->
    <div id="mainpage">
        <nav class="navbar navbar-expand-sm bg-light justify-content-center mainpagenav">
            <div class="toplogo">&#xf54f</div>

            <ul class="navbar-nav">
                <li class="nav-item navbaritem">
                    <button type="button" class="btn btn-outline-secondary secondbtn" id="gotologin">Login</button>
                </li>
                <li class="nav-item navbaritem">
                    <div class="searchbox">
                        <input class="form-control me-2 searchinput" type="text" placeholder="What you want">
                        <button class="btn btn-outline-secondary searchbtn" type="button">Search</button>
                    </div>
                </li>
                <li class="nav-item navbaritem">
                    <button type="button" class="btn btn-outline-secondary secondbtn topcartbtn">&#xf07a</button>
                </li>
                <li class="nav-item navbaritem">
                    <button type="button" class="btn btn-outline-secondary secondbtn topcartbtn">&#xf004</button>
                </li>
                <li class="nav-item navbaritem">
                    <button type="button" class="btn btn-outline-secondary secondbtn topcartbtn">&#xf007</button>
                </li>
            </ul>
        </nav>
        <div class="mainpagemainboxborder">
            <div class="mainpagemainbox">
                <div class="catagroies">
                    <div class="catagroiestitle">All Catagroies</div>
                    <div class="catagroiesdatas">
                        <table class="table table-hover">
                            <tbody id="addcatagroiesdatas">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="shopdatasborder">
                    <div class="shopdatas">
                        <div class="row" id="allshopdatas">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../static/poncon.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>